/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Roboto+Mono&display=swap');

$font-family-sans-serif: Quattrocento, sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;
$presentation-heading-font: $font-family-sans-serif;



/*-- scss:rules --*/
/* Ripped blink from stack overflow result */
.blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}