// LECTURE 1 //
/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Roboto+Mono&display=swap');

$font-family-sans-serif: Quattrocento, sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;
$presentation-heading-font: $font-family-sans-serif;

//formating stuff

$presentation-heading-line-height: 1.3;
$presentation-font-smaller: 0.8;
$presentation-heading-font-weight: 400;
$presentation-font-size-root: 32px;

// colors
$light-green: #c7cdac;
$dark-green: #99a486;
$blue: #1e4655; 
$white: #FFFFFF;
$black: #000000;
$purple: #b18eb1;

$body-color: $black;
$presentation-heading-color: $dark-green;
$body-bg: $white;
$link-color: $blue; 
$link-hover-color: $light-green;
$btn-link-hover-color: $light-green;
$tabset-border-color: $light-green;
$code-block-font-size: 0.75em;
$code-color: #ffa07a; 
$tabset-border-color: $blue;
$dark-bg-code-color: #ffa07a;
$code-block-bg: $black;
//$code-block-bg: $black; 
//$code-block-color: $purple;
//$code-block-border-color: $light-green;

/*-- scss:rules --*/
// Ripped blink from stack overflow result //
.blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

// class selectors
.custom-title { 
  font-family: $font-family-sans-serif;
  color: $light-green;
  font-size: 2.35em;
  position: relative;
  top: 5.75em;
  margin: 0;
  $link-color: #c7cdac;
}

.custom-subtitle { 
  font-family: $font-family-sans-serif;
  color: $light-green;
  font-size: 1.7em;
  position: relative;
  top: 8.0em;
  margin: 0;
}

.custom-subtitle2 { 
  font-family: $font-family-sans-serif;
  color: $white;
  font-size: 1.3em;
  position: relative;
  top: 11em;
  margin: 0;
}

.custom-subtitle3 { 
  font-family: $font-family-sans-serif;
  color: $white;
  font-size: 1.3em;
  position: relative;
  top: 11em;
  margin: 0;
}

.section-title {
  font-family: $font-family-sans-serif;
  color: $white;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.reveal section h1 {
  color: $white;
}

.reveal .slides section .fragment.highlight-red,
.reveal .slides section .fragment.highlight-current-red,
.reveal .slides section .fragment.highlight-pink,
.reveal .slides section .fragment.highlight-current-pink,
.reveal .slides section .fragment.highlight-green,
.reveal .slides section .fragment.highlight-current-green,
.reveal .slides section .fragment.highlight-blue,
.reveal .slides section .fragment.highlight-current-blue {
	opacity: 1;
	visibility: inherit;
}
	.reveal .slides section .fragment.highlight-red.visible {
		color: #cc1236
	}
	.reveal .slides section .fragment.highlight-pink.visible {
		color: #bf5892;
	}
	.reveal .slides section .fragment.highlight-green.visible {
		color: #009465;
	}
	.reveal .slides section .fragment.highlight-blue.visible {
		color: #0093a5;
	}

.reveal .slides section .fragment.highlight-current-red.current-fragment {
	color: #cc1236
}
.reveal .slides section .fragment.highlight-current-pink.current-fragment {
	color: #bf5892;
}
.reveal .slides section .fragment.highlight-current-green.current-fragment {
	color: #009465;
}
.reveal .slides section .fragment.highlight-current-blue.current-fragment {
	color: #0093a5;
}

.reveal .slides section .fragment.blur {
  filter: blur(4px);
}

.reveal .slides section .fragment.blur.visible {
  filter: none
}

// custom sizing
.custom-small table {
        font-size: .8em
      }
      
.small-text  {
        font-size: .75em
      }
      
// tippy box customization
.tippy-box[data-theme~="quarto"] {
  background-color: #E8D9DB !important;
}
